<h1 class="animated fadeIn fast ">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A distinctio esse incidunt possimus quas quisquam, sunt! Aliquam debitis dolorem dolores ea eaque, earum fugit molestias mollitia praesentium, repellendus repudiandae temporibus.
</p>
<p class="animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae cum dolorem ducimus ea eius exercitationem fugiat fugit, inventore ipsam itaque iusto minus, nesciunt nihil, nostrum quas quod sit temporibus?</p>
